# Python
__pycache__/
*.pyc
*.pyo

# Environments
.env
.venv/
app/__pycache__

# Poetry
# keep poetry.lock committed

# IDE
.vscode/
.idea/

# Logs
logs/

# Alembic
alembic/versions/__pycache__/

# Local sqlite databases
*.db
